@import "~@/style/main.styl"
.slide_menu
  background-color #fff
  color $main-light
  min-width 120px
  text-align center
  box-shadow(4px)
  border-right 1px solid #f7f7f7
  margin-right 5px
  ul
    display flex
    flex-direction column
    justify-content center
    align-items center
    padding $main-padding 0
    li
      padding 0 3*$main-padding
      cursor pointer
