@import "~@/style/main.styl"
  .bedroom
    text-align center
    .bedroom-nav
      display flex
      justify-content center
      background #ddd
      text-align center
      li
        margin 5px 15px
